html {
    min-width: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    ;
}
body {
    background-color: darkslategrey;
    margin: 0;
    border: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: royalblue;    
    font-size: 4rem;
    font-weight: 900;
}

p {
    color: rgb(215, 236, 237);
    font-size: larger;
    text-align: center;
}

a {
    color: rgb(215, 236, 237);
}

.control {
    text-align: center;
    color: rgb(215, 236, 237);
    font-size: larger;
    font-weight: bold;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img_contact {
    width: 30px;
    height: 30px;
}

.chart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(215, 236, 237); ;
}

.upperChart,
.lowerChart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}

.myChart {
    width: 65vh;
}

.source {
    font-style: italic;
}